@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+IT+Moderna:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(calc(1.28 * 23px + 8.625px / 2) at left 50% bottom calc(-0.8 * 23px), #1a8fe5 calc(100% - 8.625px), #e4e4ed calc(101% - 8.625px) 100%, #0000 101%) calc(2 * 23px) calc(-1 * calc(1.5 * 23px + 8.625px)),
    radial-gradient(calc(1.28 * 23px + 8.625px / 2) at left 50% bottom calc(-0.8 * 23px), #1ae5d6 calc(100% - 8.625px), #e4e4ed calc(101% - 8.625px) 100%, #0000 101%) calc(-1 * 23px) calc(calc(1.5 * 23px + 8.625px) / -2),
    radial-gradient(calc(1.28 * 23px + 8.625px / 2) at left 50% top calc(-0.8 * 23px), #1ae5d6 calc(100% - 8.625px), #e4e4ed calc(101% - 8.625px) 100%, #0000 101%) 0 calc(1.5 * 23px + 8.625px),
    radial-gradient(calc(1.28 * 23px + 8.625px / 2) at left 50% top calc(-0.8 * 23px), #1a8fe5 calc(100% - 8.625px), #e4e4ed calc(101% - 8.625px) 100%, #0000 101%) 23px calc(calc(1.5 * 23px + 8.625px) / 2), linear-gradient(#1a8fe5 50%, #1ae5d6 0);
  background-size: calc(4 * 23px) calc(1.5 * 23px + 8.625px);
}
.title {
  position: absolute;
  z-index: 9999;
  top: 35px;
  color: aliceblue;
  font-size: 3em;
  text-shadow: 2px 2px 2px black;
}

.slider {
  position: absolute;
  inset: 80px 350px 80px 100px;
  background: rgb(0, 0, 0);
  border-radius: 20px;
}

.slider .slides {
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  width: 240px;
  height: 320px;
  background: var(--img);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
  background-size: cover;
}

.slider .slides:nth-child(3) {
  left: calc(50% + 240px);
  background-size: cover;
}
.slider .slides:nth-child(4) {
  left: calc(50% + 500px);
  background-size: cover;
}
.slider .slides:nth-child(5) {
  left: calc(50% + 760px);
  background-size: cover;
  opacity: 0;
}

.content {
  position: relative;
  padding: 40px;
  max-width: 600px;
  transition: 0.25s;
  transition-delay: 0s;
  z-index: 999;
  transform: translateY(40px);
  opacity: 0;
}
.content h1 {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px black;
  opacity: 0.4;
  font-size: 6em;
}
.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}

.button {
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 40px;
}
.button span {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  bottom: 40px;
}
.button span:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.button span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  transform: rotate(315deg) translate(2px, 2px);
}
.button span:nth-child(2)::before {
  transform: rotate(135deg) translate(2px, 2px);
}
audio {
  width: 100%;
  position: fixed;
  opacity: 0.8;
  bottom: 0;
  z-index: 999999;
}

@media screen and (max-width: 900px) {
  .slider {
    position: absolute;
    inset: 40px 40px 200px 40px;
  }
  .slider .slides {
    width: 100px;
    height: 100px;
    bottom: -160px;
    top: initial;
  }
  .slider .slides:nth-child(1),
  .slider .slides:nth-child(2) {
    top: initial;
    bottom: 0;
  }
  .slider .slides:nth-child(3) {
    left: 0;
  }
  .slider .slides:nth-child(4) {
    left: 120px;
  }
  .slider .slides:nth-child(5) {
    left: 240px;
  }
  .title {
  font-size: 1em;

}
}
